body{
  padding-top: 100px;
}
.intro{
  background-color: #111;
}

 .intro nav {
   font-family: 'Roboto', sans-serif;
   width: 100%;
   margin-top: 0;
   height: 100px;
   position: fixed;
   top: 0;
   z-index:1;
   background-color: #975AFF;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
 }
.intro nav h2{
  padding-left: 80px;
  color: #fff ;
  margin-bottom: 30px;
}


.intro nav ul{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  width:fit-content;
  justify-content: space-evenly;
  margin-top: 0px;
  list-style: none;
  padding-bottom: 0px;
  margin-right:30px;
  height: 100%;
}
.intro nav ul li a{
  color: #fff ;
  padding: 0px 10px;
  height: auto;
}

/*Banner*/
.banner{
  height: calc(100vh - 100px);
}

.banner section{
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: space-evenly;
align-content: center;
height:100%;
}

.banner section .text{
width: 30%;

}
.banner section .logo{
flex-basis: 30%;
/* box-shadow: 0.001px 0.001px 15px #c0c0c0 ; */
}
.banner section h2{
  color: #fff;
  font-size: 65px;
  border-bottom: 1px solid #fff ;
}
.banner section p{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

/* video information */
.about{
  background-color: #111;
}
.about h1{
  width: 70%;
  line-height: 100px;
  margin: 0 auto;
  color: #fff;
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid #fff ;
  margin-bottom: 70px;

}
.about div{
  text-align: center;

}
.about p{
  margin-top: 100px;
font-family: 'Open Sans', sans-serif;
color: #fff;
width: 70%;
margin: 0 auto;


}
